<div class="container">

  <!--  サイトボディ 均等配置-->
  <div class="row justify-content-around">

    <!--  サイドバー -->
    <div class="col-3 category_aria">
        <div class="card text-dark">
          <div class="card-header" role="tab" id="collapseListGroupHeading1">
            <h5 class="mb-0 ">
              <a href="#collapseListGroup1" class="collapsed text-dark"aria-expanded="false" aria-controls="collapseListGroup1"> ヘアカット理論</a>
            </h5>
          </div><!-- /.card-header -->
          <div class="" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="false">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">リスト1</li>
              <li class="list-group-item">リスト2</li>
              <li class="list-group-item">リスト3</li>
            </ul>
          </div><!-- /.collapse -->
        </div><!-- /.card -->
    </div>
    <!--  サイドバー 終わり-->

    <!--  サイドバーより右側グリッド幅の設定 -->
    <div class="col-8">

      <!--  写真スライド -->
      <div class="row">
        <div class="col-11 image_aria">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- インジケータの設定 -->
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
                    <!-- スライドさせる画像の設定 -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="<%= asset_path "topimg1.JPG" %>" alt="第1スライド"  height="200px">
                <div class="carousel-caption d-none d-md-block">
                  <h3>第1スライド見出し</h3>
                  <p>スライドイメージの紹介</p>
                </div><!-- /.carousel-caption -->
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="<%= asset_path "topimg2.JPG" %>" alt="第1スライド"  height="200px">
                <div class="carousel-caption d-none d-md-block">
                  <h3>第2スライド見出し</h3>
                  <p>スライドイメージの紹介</p>
                </div><!-- /.carousel-caption -->
              </div>
            </div>

            <!-- スライドコントロールの設定 -->
           <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">前へ</span>
           </a>
           <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">次へ</span>
           </a>
          </div>
        </div>
      </div>
      <!-- 写真スライド終わり -->

      <!--  サイト紹介 -->
      <div class="row">
        <div class="col-11 text_aria">
          <h3 class="headline_css">ヘアカット研究所とは</h3>
          <p class="text_css">
            スピーディーなヘアカット動画とシンプルかつ簡単な説明を提供する、美容技術学習サイトです。
          <span style="color: red;">
          <br>・カット練習中のアシスタントの方
          <br>・ジュニアスタイリストの方
          </span>
          <br>以上の方におすすめの内容となっています。
        </p>
        </div>
      </div>
      <!--  サイト紹介終わり -->

      <!--  動画コンテンツフィード -->
      <div class="row">
        <div class="col-11 content_aria">
          <div class="row">

          <% @admin_user.articles.each do |article| %>
          <div class="col-sm-6 col-md-3">
            <a href="#" class="card m-1">
              <img class="card-img" src="<%= article.image_path %>" alt="" height="200px">
            </a>
          </div>
          <% end %>



          <div class="col-sm-6 col-md-3">
            <a href="#" class="card m-1">
              <img class="card-img" src="<%= asset_path "topimg2.JPG" %>" alt="" height="200px">
            </a>
          </div>




        </div>
        </div>
      </div>
      <!--  動画コンテンツフィード終わり -->


    </div>
    <!--  サイドバーより右側グリッド幅の設定終わり -->

  </div>
  <!--  サイトボディ 均等配置終わり -->

</div>

<div>test</div>
