<div class="container">
  <div class="row justify-content-around">
    <div class="col-3 category_aria">
        <div class="card text-dark">
          <div class="card-header" role="tab" id="collapseListGroupHeading1">
            <h5 class="mb-0 ">
              <a href="#collapseListGroup1" class="collapsed text-dark"aria-expanded="false" aria-controls="collapseListGroup1"> ヘアカット理論</a>
            </h5>
          </div><!-- /.card-header -->
          <div class="" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="false">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">リスト1</li>
              <li class="list-group-item">リスト2</li>
              <li class="list-group-item">リスト3</li>
            </ul>

          </div><!-- /.collapse -->
        </div><!-- /.card -->
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-11 image_aria">
        </div>
      </div>
      <div class="row">
        <div class="col-11 content_aria">
        </div>
      </div>
    </div>
  </div>
</div>

<div>test</div>
