@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

 /* ヘッダー */
header {

  width: 100%; /* 横幅を画面いっぱいに設定 */
  padding: 10px;
  height: auto; /* ヘッダーの高さを設定 */
  background: #E5E5E5; /* 背景色の設定 */
  a:link{
   text-decoration: none!important;
  }
 }

.header_title {
  color: #333333;
  font: bold 2em '遊ゴシック';
  display: inline;
}
